#coming {
  padding: 50px 0;
  background-color: $primary-color;

  .content {
    h3 {
      font-family: $tertiary-font;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      color: #fff;
      margin-bottom: 25px;
      span {
        color: $tertiary-color;
      }
    }

    .card-c {
      display: flex;
      flex-direction: column;

      .card-flex-primary {
        display: flex;
        justify-content: space-between;
        .card-item-p {
          width: 600px;
          margin: 10px;
          background-image: url(/public/images/cod_far.png);
          background-repeat: no-repeat;
          background-size: cover;

          img {
            width: 100%;
            object-fit: cover;
            position: relative;
            border-radius: 10px;
          }

          .card-content {
            padding: 85px 30px 80px 30px;
            .title {
              font-size: 28px;
              font-style: normal;
              font-weight: 500;
              line-height: 140%;
              font-family: $tertiary-font;
              color: #c3b5b5f7;
              width: 70%;
              margin-bottom: 30px;
            }

            .btn {
              display: inline-block;
              padding: 9px 16px;
              border: 1px solid #f5f4f9;
              background: transparent;
              font-size: 15px;
              font-style: normal;
              font-weight: 600;
              line-height: 144%;
              font-family: $tertiary-font;
              border-radius: 10px;
              text-decoration: none;
              color: #f5f4f9;

              &:hover {
                background: #f5f4f9;
                color: #000;
              }
            }
          }
        }

        .it-p {
          background-image: url(/public/images/nba.png);
        }
      }
      .card-flex-secondary {
        display: flex;
        .card-item-s {
          width: 450px;
          margin: 10px;
          background-image: url(/public/images/fifa.png);
          border-radius: 10px;
          background-repeat: no-repeat;
          background-size: cover;

          img {
            width: 100%;
            object-fit: cover;
            position: relative;
            border-radius: 10px;
          }

          .card-content {
            padding: 34px 30px 50px 30px;
            .title {
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: 140%;
              font-family: $tertiary-font;
              color: #c3b5b5f7;
              width: 70%;
              margin-bottom: 25px;
            }

            .btn {
              display: inline-block;
              padding: 9px 16px;
              border: 1px solid #f5f4f9;
              background: transparent;
              font-size: 15px;
              font-style: normal;
              font-weight: 600;
              line-height: 144%;
              font-family: $tertiary-font;
              border-radius: 10px;
              text-decoration: none;
              color: #f5f4f9;

              &:hover {
                background: #f5f4f9;
                color: #000;
              }
            }
          }
        }

        .it-s-one {
          background-image: url(/public/images/resedent_evel.png);
        }

        .it-s-two {
          background-image: url(/public/images/alien.png);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #coming {
    .content {
      h3 {
        font-size: 28px;
      }

      .card-flex-primary,
      .card-flex-secondary {
        flex-direction: column;

        .card-item-p,
        .card-item-s {
          width: inherit !important;
        }
      }
    }
  }
}
