#contact {
  padding: 100px 0;
  background: $seven-quarter-color;

  .content {
    display: flex;
    justify-content: space-between;

    .block-form {
      h3 {
        color: #fff;
        font-family: $primary-font;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        margin-bottom: 19px;

        span {
          color: $tertiary-color;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 10px;

        input {
          width: 388px;
          padding: 10px;
          margin-bottom: 30px;
          color: #fff;
          font-family: $primary-font;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.8px;
          border-radius: 5px;
          background: #1e1e1e;
          border: 0;
        }

        textarea {
          padding: 10px;
          margin-bottom: 15px;
          color: #fff;
          font-family: $primary-font;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.8px;
          border-radius: 5px;
          background: #1e1e1e;
          border: 0;
          resize: none;
        }

        button {
          width: 30%;
          border-radius: 5px;
          background: #15448b;
          padding: 12px 20px;
          color: #d9d9d9;
          font-family: $primary-font;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.8px;
          border: 0;
        }
      }
    }
  }
}

@media (max-width: 990px) {
  #contact {
    .content {
      flex-direction: column;

      img {
        object-fit: cover;
        width: 70%;
        align-self: center;
      }
      .block-form {
        margin-top: 20px;
        form {
          input {
            width: 100%;
          }
        }
      }
    }

  }

}


