<section id="coming">
  <div class="container">
    <div class="content">
      <h3>Coming <span>Soon</span></h3>
        <div class="card">
          <div class="card-flex-primary">
            <div class="card-item">
              <img src="./public/images/cod_far.png" alt="Game Image" />
              <div class="card-content">
                <p class="title">Call of Duty®: Modern Warfare® II</p>
                <a href="#" class="btn">Pre-order Now!</a>
              </div>
            </div>
            <div class="card-item">
              <img src="./public/images/nba.png" alt="Game Image" />
              <div class="card-content">
                <p class="title">NBA2K23</p>
                <a href="#" class="btn">Pre-order Now!</a>
              </div>
            </div>
          </div>
          <div class="card-flex-secondary">
            <div class="card-item">
              <img src="./public/images/fifa.png" alt="Game Image" />
              <div class="card-content">
                <p class="title">EA SPORTS™ FIFA 23</p>
                <a href="#" class="btn">Pre-order Now!</a>
              </div>
            </div>
            <div class="card-item">
              <img src="./public/images/resedent_evel.png" alt="Game Image" />
              <div class="card-content">
                <p class="title">Resident Evil 4 - Remake</p>
                <a href="#" class="btn">Pre-order Now!</a>
              </div>
            </div>
            <div class="card-item">
              <img src="./public/images/alien.png" alt="Game Image" />
              <div class="card-content">
                <p class="title">ALIEN - Dark Descent</p>
                <a href="#" class="btn">Pre-order Now!</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>