<section id="coming">
  <div class="container">
    <div class="content">
      <h3>Coming <span>Soon</span></h3>
        <div class="card-c">
          <div class="card-flex-primary">
            <div class="card-item-p">
              <div class="card-content">
                <p class="title">Call of Duty®: Modern Warfare® II</p>
                <a href="index.html" class="btn">Pre-order Now!</a>
              </div>
            </div>
            <div class="card-item-p it-p">
              <div class="card-content">
                <p class="title">NBA2K23</p>
                <a href="index.html" class="btn">Pre-order Now!</a>
              </div>
            </div>
          </div>
          <div class="card-flex-secondary">
            <div class="card-item-s">
              <div class="card-content">
                <p class="title">EA SPORTS™ FIFA 23</p>
                <a href="index.html" class="btn">Pre-order Now!</a>
              </div>
            </div>
            <div class="card-item-s it-s-one">
              <div class="card-content">
                <p class="title">Resident Evil 4 - Remake</p>
                <a href="index.html" class="btn">Pre-order Now!</a>
              </div>
            </div>
            <div class="card-item-s it-s-two">
              <div class="card-content">
                <p class="title">ALIEN - Dark Descent</p>
                <a href="index.html" class="btn">Pre-order Now!</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>