<section id="contact">
  <div class="container">
    <div class="content">
      <img src="./images/contact-image.png" alt="Games image" />
      <div class="block-form">
        <h3>Contact <span>Us</span></h3>
        <form>
            <input type="text" name="name" id="inp-name" placeholder="Your Name" required>
            <input type="email" name="email" id="inp-email" placeholder="Your Email" required>
            <textarea name="message" id="area-message" rows="7" placeholder="Your Message" required></textarea>
            <button type="submit">Sumbit</button>
        </form>
      </div>

    </div>
  </div>
</section>