<section id="home">
  <div class="container">
    <div class="content">
      <div class="title">A New Home for Gamers Lovers</div>
      <div class="text">Start your unforgettable adventures right here and
        now!</div>
      <button type="button" class="btn">Join Now</button>
    </div>
  </div>
</section>