<section id="Join">
  <div class="container">
    <div class="content">
      <p class="title">Join the <span>community</span></p>
      <p class="text">Join our Discord community which is in the making and made
        by gamers for gamers. All are welcome to join no matter the game you
        play, we're here to have a good.</p>
      <div class="join_btn">
        <a href="#">Join Discord</a>
      </div>
    </div>
  </div>
</section>