<section id="popular">
  <div class="container">
    <p class="title">Top Popular <span>Games</span></p>
    <div class="liner"></div>
    <div class="card-p" id="popular_games"></div>
    <button class="popular-btn" type="button">See more Games</button>
  </div>
</section>