{{#each this}}
<tr class="goodList">
  <td class="value">Grand the auto V</td>
  <td class="sum">1250 UAH</td>
  <td class="remove">
    <button class="removeIcon" type="button">Del</button>
  </td>
</tr>
{{/each}}