<div class="shopping-cart-modal">
  <div class="cart-header">
    <h3>Your orders</h3>
    <div
      class="icon-fill"
      data-action="hide"
      data-modal-name="shopping-cart-modal"
    >
      <i class="fa-solid fa-x"></i>
    </div>
  </div>
  <div class="goodItem">
    <div class="table-responsive">
      <ul class="goodListName">
        <li>Name</li>
      </ul>
    </div>
    <div class="goodInfo">
      <div class="table-responsive">
        <table>
          <tbody class="cartTable">
            {{#each items}}
              <tr class="goodList">
                <td class="value">{{title}}</td>
                <td class="sum">{{money}} UAH</td>
                <td class="remove">
                  <button class="removeIcon" type="button" data-type="action" data-action="remove-from-shopping-cart" data-game-id="{{id}}">Del</button>
                </td>
              </tr>
              {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="footerBtnCart">
    <button class="makeOrder" type="button" data-type="action" data-action="complete-order">Order</button>
    <h4 class="clearCart" data-type="action" data-action="clear-shopping-cart">Clear the basket</h4>
  </div>
</div>