<footer>
  <div class="container">
    <div class="content">
      <div class="logo">
        <img src="./images/Logo.png" alt="logo" />
      </div>
      <div class="content_menu">
        <div class="menu">
        <p>Menu</p>
        <ul>
          <li><a href="index.html">Order tracking</a></li>
          <li><a href="index.html">Store location</a></li>
          <li><a href="index.html">Return policy</a></li>
          <li><a href="index.html">Support</a></li>
        </ul>
      </div>
      <div class="resources">
        <p>Resources</p>
        <ul>
          <li><a href="index.html">Blog</a></li>
          <li><a href="index.html">Help center</a></li>
          <li><a href="index.html">Documentation</a></li>
          <li><a href="index.html">Guidelines</a></li>
        </ul>
      </div>
      <div class="follow">
         <p>Follow us on:</p>
        <ul>
          <li>
            <a href="https://www.instagram.com/" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/" target="_blank">
                <i class="fa-brands fa-youtube"></i>
            </a>
          </li>
          <li>
            <a href="https://www.twitch.tv/" target="_blank">
                <i class="fa-brands fa-twitch"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/?lang=uk" target="_blank">
                <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
      </div>
      
    </div>
    <div class="line"></div>
    <div class="copyright">
        <p>© 2023 GameSphere</p>
    </div>
  </div>
</footer>