<section id="store">
  <div class="container">
    <p class="title">Game <span>Store</span></p>
    <div class="liner"></div>
    <div class="content">
      <ul class="store-list">
        <li class="list-item"><div data-filter-type="action" class="list-link">Action</div></li>
        <li class="list-item"><div data-filter-type="shooter" class="list-link">Shooter</div></li>
        <li class="list-item"><div data-filter-type="strategy" class="list-link">Strategy</div></li>
        <li class="list-item"><div data-filter-type="adventure" class="list-link">Adventure</div></li>
      </ul>
      <div class="game_list"></div>
    </div>
  </div>
</section>