$secondary-font:'Roboto', sans-serif;
$primary-font: 'Montserrat', sans-serif;
$primary-color: #050415;
$secondary-color: #15448B;
$tertiary-color: #B9198E;
$quaternary-color: #1E1E1E; 
$five-quarter-color: #009F9D;
$six-quarter-color: #090722;
$seven-quarter-color: #0D0B21;
$eight-quarter-color: #07051b;