<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./public/images/favicon.svg" type="image/x-icon">
    <title>GameSphere</title>
</head>
<body>
  {{> ../partials/components/loader}}  
  {{> ../partials/layouts/header}}
  {{> ../partials/section_main/home}}   
<script src="./public/js/app.js"></script>
</body>
</html>