#post {
  background-color: $eight-quarter-color;
  padding: 50px 0;

  .title {
    color: #fff;
    font-family: $primary-font;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-align: center;
    position: relative;
    text-transform: uppercase;

    span {
      color: $tertiary-color;
    }
  }

  .liner {
    width: 165px;
    height: 10px;
    border-radius: 50px;
    background: $five-quarter-color;
    margin: 15px auto 0 auto;
  }

  .card-p {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;

    .card-item-p {
      .image {
        .img-p {
          object-fit: cover;
          max-height: 182px;
          width: 100%;
        }
      }
    }

    .content {
      background: $six-quarter-color;
      padding: 20px;

      .title {
        color: #fff;
        font-family: $primary-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: start;
      }

      .subtitle {
        display: flex;
        justify-content: space-between;

        .date {
          color: #fff;
          font-family: $primary-font;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .author {
          color: #fff;
          font-family: $primary-font;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          span {
            color: $five-quarter-color;
          }
        }
      }

      .text {
        p {
          color: #fff;
          font-family: $primary-font;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .likes {
        display: flex;
        justify-content: space-between;
        .btn-p {
          padding: 7px 15px;
          border: 1px solid $tertiary-color;
          color: $tertiary-color;
          font-family: $primary-font;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration: none;
          text-transform: uppercase;
          
          &:hover {
            background: $tertiary-color;
            color: #fff;
          }
        }

        .block {
          display: flex;
          color: #fff;
          .like {
            display: flex;
            align-items: center;
            padding-right: 15px;
            p {
              margin-bottom: 0;
              padding-left: 10px;
            }
          }

          .coment {
            display: flex;
            align-items: center;

            p {
              margin-bottom: 0;
              padding-left: 10px;
            }
          }
        }
      }
    }
  }
}
