<section id="guide">
  <div class="container">
    <p class="title">Game <span>Guide</span></p>
    <div class="liner"></div>
    <div class="guide-card">
      {{#each video_guide}}
        <div class="g-item">
          <img class="guide-img" src="{{img}}" alt="demo" />
          <p class="title">{{name}}</p>
          <P class="card-p">{{text}}</P>
          <iframe
            height="415"
            src="{{video}}"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      {{/each}}
    </div>
  </div>
</section>