#header {
  .navbar-toggler {
    background-color: #fff;
  }
  .navbar {
    background: $primary-color;
    padding: 20px 0;
    .navbar-collapse {
      justify-content: space-around;
    }

    .navbar-nav {
      .nav-item {
        position: relative;
        .nav-link {
          padding-right: 45px;
          color: #fff;
          text-align: center;
          font-family: $primary-font;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          font-size: 16px;

          &:hover {
            color: $five-quarter-color;
          }

          &::after {
            content: "";
            width: 0;
            height: 2px;
            background: $five-quarter-color;
            position: absolute;
            left: 0;
            bottom: -6px;
            transition: 0.5s;
          }

          &:hover {
            &::after {
              width: 60%;
            }
          }
        }
      }
    }

    .auth {
      display: flex;
      button {
        margin-right: 44px;
        text-decoration: none;
        color: $secondary-color;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border: 1px solid $secondary-color;
        cursor: pointer;
        padding: 7px 15px;
        border-radius: 8px;
        background: none;

        &:hover {
          background-color: $secondary-color;
          color: #fff;
        }
      }
      
      img {
        width: 40px;
        border-radius: 50%;
      }

      .shop-cart {
        font-size: 25px;
        margin-left: 35px;
        
        i {
          cursor: pointer;
          color: #fff;
  
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  #header {
    .navbar-nav {
      margin-bottom: 40px;
    }

    .auth {
      justify-content: center;
    }
  }
}